* {
    margin: 0;
    padding: 0;
    font: 400 22px "DM Sans";
    font-style: normal;
}

header nav p {
    color: #000000;
}

body {
    margin: auto;
    width: 1120px;
    background: #E5E5E5;
}

a {
    text-decoration: none;
}

.img-logo {
    background-image: url(../img/hs..svg);
    width: 64px;
    height: 48px;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
}

header {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    top: 0;
    width: 1120px;
}

header nav a:not(:last-child) {
    margin-right: 30px;
}

.container-personality {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    height: 560px;
}

.personality-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 570px;
}

.personality-left-side h1 {
    padding-top: 40px;
    font: 500 60px "DM Sans";
}

.personality-left-side p {
    font-size: 24px;
    color: #606060;
    padding-top: 20px;
}

.personality-left-side p:not(:last-child) {
    padding-top: 60px;
}

.personality-img {
    background-image: url(../img/Thumbnail.svg);
    background-size: cover;
    height: 506px;
    width: 405px;
}

.hard-skills,
.soft-skills {
    display: flex;
}

.skills h2 {
    text-decoration-line: underline;
    font-weight: 500;
    width: 124px;
}

.skills p {
    font-size: 20px;
    width: 436px;
    padding-left: 63px;
}

.soft-skills {
    padding-top: 109px;
}

.seperator {
    background-color: #181717;
    width: 1120px;
    height: 2px;
    margin-top: 100px;
}

.link {
    display: flex;
    font-size: 32px;
    padding-top: 71px;
}

.link p {
    padding-left: 190px;
}

.main-txt {
    display: inline;
    width: 347px;
}

.arrow {
    background-image: url(../img/↓\ \(1\).svg);
    height: 21px;
    width: 24px;
    position: relative;
    left: 220px;
    top: -25px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    font-weight: 500;
}

.color-blue {
    color: #2429AF;
}

footer nav {
    display: flex;
    margin-right: 30px;
}

footer nav p:not(:last-child) {
    margin-right: 30px;
}

@media screen and (max-width: 992px) {
    header {
        max-width: 750px;
    }

    body {
        padding-left: 15px;
    }

    .container-personality {
        flex-direction: column;
        height: 970px;
        align-content: space-between;
        margin-top: 100px;
    }

    .personality-left-side p:not(:last-child) {
        padding-top: 30px;
    }

    .hard-skills {
        padding-top: 50px;
    }

    .soft-skills {
        padding-top: 50px;
    }

    .seperator {
        max-width: 750px;
        margin-top: 50px;
    }

    .link {
        flex-direction: column;
        padding-top: 30px;
    }

    .main-txt {
        width: 100%;
    }

    .arrow {
        left: 420px;
    }

    .link p {
        padding-left: 0;
    }

    footer {
        max-width: 750px;
        margin-top: 40px;
    }
}