* {
    margin: 0;
    padding: 0;
    font: 400 22px "DM Sans";
    font-style: normal;
}

body {
    margin: auto;
    width: 1120px;
    background: #E5E5E5;
    height: 2115px;
}

.img-logo {
    background-image: url(../img/hs..svg);
    width: 64px;
    height: 48px;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
}

header {
     /* добавила цвет */
     background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* изенила на padding */
     padding-top: 20px;
    position: fixed;
    top: 0;
    /* left: 705px; */
    width: 1120px;
}

header nav p:not(:last-child) {
    margin-right: 30px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.main-left-side h1 {
    font: 500 60px "DM Sans";
    width: 450px;
}

.arrow {
    background-image: url(../img/↓.svg);
    width: 33px;
    height: 38px;
}

.main-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.main p {
    font-size: 32px;
    margin-top: 60px;
}

.project-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
}

.project-left-side p {
    padding-top: 40px;
}

.project-left-side p:not(:last-child) {
    padding-top: 25px;
}

.project-left-side h2 {
    font-weight: 500;
}

.project-img {
    background-image: url(../img/Thumbnail.svg);
    width: 640px;
    height: 350px;
}

.container-project {
    margin-top: 110px;
}

.container-project {
    display: flex;
    justify-content: space-between;
}

.link {
    border-bottom: 2px solid black;
    width: 290px;
}

.seperator {
    border: 2px solid #181717;
    margin-top: 106px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    font-weight: 500;
}

footer nav {
    display: flex;
    margin-right: 30px;
}

footer nav p:not(:last-child) {
    margin-right: 30px;
}